
<div class="container">


<h1>Questions</h1>



    ¿Qué prefieres?
    Selecciona tu opción preferida.
<br>
<br>
<div class="row">

  <div class="col-md-3">
    $9500
    <br>
    <br>
    en 6 meses
  </div>

  <div class="col-md-3">
    $12.000
    <br>
    <br>
    en un año




</div>
</div>
</div>
