
<div class="container">

<h1>Bienvenido!!!</h1>
<h3>Queremos concocerte más. </h3>

<p>Necesitamos que respondas algunas preguntas para terminar de crear tu perfil.
  <br>
  Luego te enviaremos un mail con las instrucciones para responder los tests.
  <br>
  Con ello comenzaras a recibir tu plan de entrenamiento, directamente en tu cuenta de correo cada semana.
</p>

   <%= link_to "Completar Registro", "#", class: 'btn btn-success'%>

</div>
